.idea/
centos-kvm-host/Gemfile.lock
centos-kvm-host/Berksfile.lock
centos-kvm-host/.vagrant/
centos-kvm-host/berks-cookbooks/
centos-kvm-host/nodes/
centos-kvm-host/local-mode-cache/
centos-kvm-host/berks-cookbooks/
centos-management-server/Gemfile.lock
centos-management-server/Berksfile.lock
centos-management-server/.vagrant/
centos-management-server/berks-cookbooks/
centos-management-server/nodes/
centos-management-server/local-mode-cache/




